.hero-section {
  justify-content: start;
  align-items: center;
  
  height: 100vh;
  
  background-color: transparent;
  color: var(--light);
}

.hero-card {
  height: 100%;

  justify-content: center;
  padding: 48px;
  padding-right: 112px;

  background-image: url(../images/flourish.png);
  background-size: cover;
  box-shadow: 1px 1px 16px var(--dark-secondary);

  z-index: 0;
}

.hero-text {
  justify-content: center;
  text-align: left;

  font-size: 24px;
}

.hero-title {
  gap: 16px;
}

.hero-title h1 {
  color: inherit;
}

.hero-message {
  font-size: 36px;
}

.hero-logo {
  height: 48px;
  width: 48px;
}

.hero-reference {
  position: relative;
  color: var(--light);
  margin: 8px;
  z-index: 1;
}

@media screen and (max-width: 1060px){
  .hero-section {
    height: 50vh;
  }
}
