.item {
  width: 100%;
  box-sizing: border-box;

  font-size: var(--font-large);
  justify-content: center;

  border: 1px solid var(--secondary);
  border-radius: 4px;
  overflow: hidden;

  font-weight: 600;

  padding: 0 var(--size-4);
}
