.reasons-section {
  position: relative;
  flex-direction: column;
  align-items: center;

  background-color: var(--light);
  justify-content: center;
  z-index: 1;
  color: var(--secondary-gradient);
}

.reasons-header {
  font-size: 48px;
  font-weight: 600;
}

.reasons-section .grid {
  grid-template-columns: auto auto;
}

.reasons-section .grid-item {
  width: MAX(172px, 25vw);

  border-radius: 16px;

  flex-direction: row;
  align-items: center;
  gap: var(--size-1);

  font-size: 32px;
  font-weight: 100;
}

.reasons-section .grid-item:nth-child(odd) {
  margin: 0 var(--size-2) var(--size-4) 0;
}

.reasons-section .grid-item:nth-child(even) {
  margin: var(--size-4) 0 0 var(--size-2);
}

.reasons-section .grid-item:nth-child(1) {
  background-image: linear-gradient(
    112deg,
    var( --secondary-gradient) 0%,
    var(--secondary) 100%
  );
}

.reasons-section .grid-item:nth-child(2) {
  background-image: linear-gradient(
    202deg,
    var( --secondary-gradient) 0%,
    var(--secondary) 100%
  );
}

.reasons-section .grid-item:nth-child(3) {
  background-image: linear-gradient(
    22deg,
    var( --secondary-gradient) 0%,
    var(--secondary) 100%
  );
}

.reasons-section .grid-item:nth-child(4) {
  background-image: linear-gradient(
    292deg,
    var( --secondary-gradient) 0%,
    var(--secondary) 100%
  );
}

.reasons-section .grid-item:nth-child(5) {
  margin-bottom: 0;
}

.reasons-grid-icon {
  height: 32px;
  width: 32px;
}

.reasons-grid-header p {
  margin-top: 16px;
}

@media screen and (max-width: 1060px) {
  .reasons-section .grid {
    width: 80vw;    
    grid-template-columns: auto;
    gap: var(--size-1);
  }

  .reasons-section .grid-item {
    width: 100%;    
    box-sizing: border-box;
    padding: var(--size-1) 72px;

    margin: 0;
  }

  .reasons-section .grid-item:nth-child(odd) {
    margin: 0;
  }
  
  .reasons-section .grid-item:nth-child(even) {
    margin: 0;
  }
}
